.messenger {
    display: flex;
    height: calc(97vh - 1px);
}

.left-column {
    width: 20%;
    overflow: auto;
    border-right: 1px solid gray;

    padding: 0.5rem;
}

.right-column {
    width: 80%;
    overflow: hidden;
}