.main-container {
    display: flex;
}

.left-column {
    width: 25%;
    height: 96vh;
    overflow: auto;
    border-right: 1px solid gray;
}

.right-column {
    width: 75%;
    height: 96vh;
    overflow: hidden;
}