.message {
    position: relative;
}

.message .get-emoji-button {
    margin: 0;
}

.my-message {
    text-align: right;
}

.my-message .chip {
    background-color: #3f51b5;
}

.their-message {
    text-align: left;
}

.their-message .chip {
    background-color: #f50057;
}

.message-date {
    margin-bottom: 0.3rem;
}

.message-content {
    color: white;
}

.message-reactions {
    position: relative;
    width: fit-content;
    top: -5px;
}

.over-half-page .emoji-picker{
    bottom: unset;
}

.under-half-page .emoji-picker {
    bottom: 0;
}

.my-message-reactions {
    margin-left: auto;
    direction: rtl;
}

.their-message-reactions {
    margin-right: auto;
    direction: ltr;
}

.my-message-reactions .emoji-picker{
    right: 0;
}

.their-message-reactions .emoji-picker{
    left: 0;
}

