.emoji-picker {
    position: absolute;
    text-align: left;
    z-index: 10;
}

.get-emoji-button {
    border: none;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
    width: fit-content;
}

.get-emoji-button:hover {
    background-color: rgb(243,243,245);
    border-radius: 50%;
}