.header {
    display: flex;
    align-items: center;
    top: 0;

    height: 2.5vh;
    justify-content: right;

    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.link {
    margin: 1rem;
    cursor: pointer;
}

.header-current-user {
    margin: auto;
}