.header {
    display: flex;
    align-items: center;

    height: 3vh;
    justify-content: right;

    border-bottom: 1px solid gray;
}

.link {
    margin: 1rem;
    cursor: pointer;
}

.header-current-user {
    margin-right: auto;
    margin-left: 1rem;
}